body {
  display: flex;
}


.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
}

.borderLeft {
  width: 60px;
  height: 730px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.border-right {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
  top: -50px;
}

.border-top {
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.sky {
  width: 500px;
  height: 580px;
  position:absolute;
  background-image: url('../imgs/fb-game-background.png');
}

.ground {
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
  background-image: url('../imgs/bottom-background.png');
  z-index: +1;
}

.bird {
  position: absolute;
  width: 60px;
  height: 45px;
  background-image: url('../imgs/flappy-bird.png');
}

.obstacle {
  width: 60px;
  height: 300px;
  position: absolute;
  background-image: url('../imgs/flappybird-pipe.png');
}

.topObstacle {
  width: 60px;
  height: 300px;
  transform:rotate(180deg);
  position: absolute;
  background-image: url('../imgs/flappybird-pipe.png');
}